<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
  <%= image_tag "profile.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Nam non leo id est consequat aliquam. Morbi semper nulla erat, sit amet interdum leo aliquet quis. Donec convallis, elit non blandit faucibus, nunc nisl commodo ipsum, sed hendrerit tellus orci sed justo. Morbi dapibus nisl neque, semper blandit lectus fringilla in. Vivamus ex tortor, posuere sit amet placerat et, vulputate quis orci. Fusce euismod enim sed metus scelerisque varius. Donec lobortis enim rutrum tristique dictum. Quisque blandit laoreet ante vitae molestie.</p>
  </div>
</div>