<div class="inner cover home">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Duis metus lorem, finibus eu pulvinar ut, sodales non mi. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In faucibus lectus et interdum mattis. Fusce ac tortor eu odio posuere iaculis nec eget nibh. Curabitur lorem ligula, mattis dapibus arcu sed, semper porttitor quam. Mauris massa elit, dignissim ornare odio at, consectetur gravida massa. Nunc ut nisl orci. Vestibulum ultricies lacinia dictum. Phasellus vel rhoncus libero, sit amet blandit turpis.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>